---
title: Building in Public an Open Source Solana Wallet Cross-Platform App with Expo, Web3 & React Native
layout: wallet
cover: building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native/solana-wallet-app-d4a8563f.jpg
---

<h2>Motivations</h2>

<p>As a developer I’ve been interested in the Blockchain space for long time and although a few years ago I started to learn Solidity for fun I didn’t build something real.</p>

<p>At the beginning of the year instead of jumping to a new job I decided to take some time off and <a href="/from-the-busy-bangkok-to-the-quiet-ko-samui.html">move to a quiet place to work on personal projects and learn new things.</a></p>

<p><strong>Web3 and Blockchain</strong> have been always around and I didn't started to build something until I read about <a href="https://solana.com/">Solana</a>.</p>

<p>From Solana website:</p>

<div class="notification">
  <strong>Solana is the fastest blockchain in the world and the fastest growing ecosystem in crypto</strong>, with over 400 projects spanning DeFi, NFTs, Web3 and more.
</div>

<p>It can process 50,000 transactions per second (TPS) at a cost of less than $0.01 per transaction! So it makes perfect to start building dApps.</p>



<h2>How it Started?</h2>

<div class="content-image">
<%= image_tag "sea.jpg" %>
</div>

<p> This journey started having a coffee in one of my favorite spots here in the island when I was reading about <strong>Solana</strong> and <strong>Web3</strong>.</p>

<p>After read a few NodeJS examples to do the basic operations like create a wallet, get the balance, request an airdrop or transfer tokens
I decided that I need to do something more visual to can put everything together.</a>
</p>

<p>And that's it! A Wallet App came to my head. It isn't the most original project but it looked like a good project to start building and understand
the whole process from generating a wallet to execute a transaction.</p>

<p>In less than a week, while doing other things, I've been able to <a href="building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native.html">Build a fully functional Cross-Platform Solana Wallet App with Expo, React Native and @solana/web3.js</a>.</p>

<p>The feedback received in Twitter was great! So <a href="https://github.com/jferrer/expo-solana-wallet">I published the full code on my Github</a> because I think it could be a good starting point to someone that want to start learning and building with <strong>Solana and Web3</strong>.</p>

<h2>What's next</h2>

<p>Although, I've built the MVP there is still a lot of work to do so I plan to continue the development and post flequently here about all the process.</p>


<h2>Follow the Journey</h2>

<a href="/building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native.html">
<div class="card">
  <div class="card-image pt-6">
    <figure class="image">
      <img src="https://moviendo.me/building-a-solana-wallet-cross-platform-app-with-expo-web3-and-react-native/solana-wallet-app-d4a8563f.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Building a Solana Wallet Cross-Platform App with Expo, Web3 & React Native </p>
      </div>
    </div>
  </div>
</div>
</a>

<a href="/solana-wallet-derivation-path-and-multiple-accounts.html">
<div class="card">
  <div class="card-image pt-6">
    <figure class="image">
      <img src="https://moviendo.me/solana-wallet-derivation-path-and-multiple-accounts/accounts-20bc7101.png">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">How to implement Derivation Path and Generate Multiple Accounts from same Seed</p>
      </div>
    </div>
  </div>
</div>
</a>
