<div class="container mt-5">
  <div class="content">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <% link_to "/" do %>
            <%= image_tag "moviendome.png", width: "80px" %>
          <% end %>
        </div>
      </div>

      <div class="level-right">
        <p class="level-item is-size-7 has-text-centered">
          Minimalist • Software Engineer at &nbsp;<a href="https://www.omise.co/" target="_blank" title="Go to Omise website">Omise</a>&nbsp; • Based in Bangkok
        </p>
      </div>
    </nav>
  </div>
</div>
