<div class="container mt-5">
  <div class="content">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <% link_to "/" do %>
            <%= image_tag "moviendome.png", width: "80px" %>
          <% end %>
        </div>
      </div>

      <div class="level-right">
        <p class="level-item is-size-7 has-text-centered">
          A Developer, Author, Creator and Blogger based in Thailand
        </p>
      </div>
    </nav>
  </div>
</div>
