<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <p class="has-text-centered mb-5">
          <% link_to "/" do %>
            <%= image_tag "moviendome.png", width: "120px" %>
          <% end %>
        </p>
        <h1 class="title has-text-weight-semibold intro">
          Hi! I’m Jose and I occasionally post here about Tech, Software Development or random Travel pictures
        </h1>
      </div>
    </div>
  </div>
</section>
