<div class="container mt-6">
  <div class="content has-text-centered">
    <% link_to "/" do %>
      <%= image_tag "moviendome.png", width: "80px" %>
      <p class="mt-2 is-size-5 has-text-weight-bold">◎ moviendome.(eth | near | sol)</p>
      <span>Building with Web3 &amp; React | Based in Thailand</span>
    <% end %>
  </div>
</div>
