<div class="container mt-6">
  <div class="content has-text-centered">
    <% link_to "/" do %>
      <%= image_tag "moviendome.png", width: "80px" %>
      <p class="mt-2 is-size-6">moviendo.me</p>
      <h1 class="is-size-7 has-text-weight-normal">#ruby #react #web3 #solana</h1>
    <% end %>
  </div>
</div>
