<footer class="footer">
  <div class="content has-text-centered">
    <figure class="image is-96x96 mb-6" style="margin:auto;">
      <%= image_tag "me.jpg", class: "is-rounded" %>
    </figure>

    <h4 class="content is-4 has-text-centered">
      Minimalist •
      Software Engineer at <a href="https://www.omise.co/" target="_blank" title="Go to Omise website">Omise</a> •
      Based in Bangkok
    </h4>

  </div>
</footer>
