---
title: now
---

<h2 class="title has-text-weight-semibold mb-6 is-uppercase has-text-centered is-4">
  <%= current_page.data.title %>
</h2>

<p>I started 2020, the year in which I've turned 40 years old, leaving the quiet
Chiang Mai and moving to the busy Bangkok.</p>

<p>After some time off focused in travel and learn new things,
I decided to move to Bangkok to join <a href="#">Omise</a> as Software Engineer.</p>

<div class="content-image"><%= image_tag "bangkok.jpg" %></div>

<p><a href="#">Omise</a> is a Thailand-based fintech company that is transforming
online payments in Asia and I had the opportunity to met them when I attended to the
very first Ruby conference in Thailand:
<a href="https://www.eventpop.me/e/5111-rubyconfth-2019">RubyConf TH 2019</a>.</p>

<p>Although the last year I spent most of my time doing React &amp; Javascript
to learn how to build Cross-Platform Applications, I've back to my favorite stack, Ruby.</p>


<p>Now, my daily job is build to APIs in Ruby on Rails, as I've done for the last years.</p>

<p class="has-text-centered mt-6 is-size-6">Last updated Oct 1, 2020</p>
