@charset 'utf-8';

$link: #000;

@import 'stylesheets/utilities/_all';
@import 'stylesheets/base/_all';
@import 'stylesheets/elements/_all';
@import 'stylesheets/components/_all';
@import 'stylesheets/grid/_all';
@import 'stylesheets/helpers/_all';
@import 'stylesheets/layout/_all';

body {
  font: 100%/1.5 sans-serif;
  a {
    text-decoration: none;
  }

  section {
    &.hero {
      margin-top: 80px;
    }

    .container {
      .content {
        blockquote,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .tags,
        .notification,
        p,
        hr,
        ul {
          max-width: 600px;
          margin: 20px auto;
        }

        p {
          font: 100%/1.5 serif;
        }

        pre {
          font-size: 0.6em;
          background-color: #222;
          color: white;
        }

        ul {
          margin-bottom: 40px;
        }

        h2 {
          margin-top: 40px;
        }

        .highlight,
        .intro,
        .message {
          max-width: 800px;
          margin: 20px auto;
        }

        .post { margin-bottom: 60px }

        .content-image {
          max-width: 800px;
          margin: 20px auto;

          p {
            max-width: 800px;
            margin: 10px auto;
          }
        }

        .content-image-border {
          max-width: 800px;
          margin: 20px auto;
          border: 1px solid #eee;

          p {
            max-width: 800px;
            margin: 10px auto;
          }
        }

        .card {
          max-width: 800px;
          margin: 20px auto;
        }

        .notification a {
          text-decoration: none;
        }
      }
    }
  }
}
