@charset 'utf-8';

$link: #000;

@import 'stylesheets/utilities/_all';
@import 'stylesheets/base/_all';
@import 'stylesheets/elements/_all';
// @import 'stylesheets/form/_all';
@import 'stylesheets/components/_all';
@import 'stylesheets/grid/_all';
@import 'stylesheets/helpers/_all';
@import 'stylesheets/layout/_all';

body {
  section {
    &.hero {
      margin-top: 80px;
    }

    .container {
      .content {
        blockquote,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .tags,
        .notification,
        p,
        ul {
          max-width: 600px;
          margin: 20px auto;
        }

        ul {
          margin-bottom: 40px;
        }

        h2 {
          margin-top: 40px;
        }

        .highlight,
        .intro,
        .message {
          max-width: 800px;
          margin: 20px auto;
        }

        .post { margin-bottom: 60px }

        .content-image {
          max-width: 800px;
          margin: 20px auto;
          filter: grayscale(100%);

          p {
            max-width: 800px;
            margin: 20px auto;
            filter: grayscale(100%);
          }
        }

        .content-image-border {
          max-width: 800px;
          margin: 20px auto;
          filter: grayscale(100%);
          border: 1px solid #eee;

          p {
            max-width: 800px;
            margin: 20px auto;
            filter: grayscale(100%);
          }
        }
      }
    }
  }
}
